<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Оплата</title>
  <link rel="apple-touch-icon" sizes="76x76"
        href="https://acdn.tinkoff.ru/params/common_front/resourses/icons/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="120x120"
        href="https://acdn.tinkoff.ru/params/common_front/resourses/icons/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="152x152"
        href="https://acdn.tinkoff.ru/params/common_front/resourses/icons/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180"
        href="https://acdn.tinkoff.ru/params/common_front/resourses/icons/apple-touch-icon-180x180.png">
  <link rel="shortcut icon" sizes="32x32"
        href="https://acdn.tinkoff.ru/params/common_front/resourses/icons/favicon-32x32.png">
  <style>
    div {
      display: flex;
      flex-direction: column;
      margin: 1em auto;
      width: fit-content;
    }

    div iframe {
      margin: 1em;
    }
  </style>
</head>
<body>
<div>
  <iframe
    src="https://yoomoney.ru/quickpay/button-widget?targets=%D0%9C%D0%BE%D0%BD%D0%B8%D0%BE%D1%80%D0%B8%D0%BD%D0%B3%20%D0%B7%D0%B0%20%D0%B1%D0%B0%D0%BD%D0%BA%D0%BE%D0%BC%D0%B0%D1%82%D0%B0%D0%BC%D0%B8&default-sum=100&button-text=11&yoomoney-payment-type=on&button-size=l&button-color=orange&successURL=https%3A%2F%2Ft.me%2FTinkMonitorBot&quickpay=small&account=410011481072133&label={{ user.id }}"
    width="227" height="48" frameborder="0" allowtransparency="true" scrolling="no"></iframe>
  <iframe
    src="https://yoomoney.ru/quickpay/button-widget?targets=%D0%9C%D0%BE%D0%BD%D0%B8%D0%BE%D1%80%D0%B8%D0%BD%D0%B3%20%D0%B7%D0%B0%20%D0%B1%D0%B0%D0%BD%D0%BA%D0%BE%D0%BC%D0%B0%D1%82%D0%B0%D0%BC%D0%B8&default-sum=100&button-text=11&any-card-payment-type=on&button-size=l&button-color=orange&successURL=https%3A%2F%2Ft.me%2FTinkMonitorBot&quickpay=small&account=410011481072133&label={{ user.id }}"
    width="227" height="48" frameborder="0" allowtransparency="true" scrolling="no"></iframe>
  <iframe
    src="https://yoomoney.ru/quickpay/button-widget?targets=%D0%9C%D0%BE%D0%BD%D0%B8%D0%BE%D1%80%D0%B8%D0%BD%D0%B3%20%D0%B7%D0%B0%20%D0%B1%D0%B0%D0%BD%D0%BA%D0%BE%D0%BC%D0%B0%D1%82%D0%B0%D0%BC%D0%B8&default-sum=100&button-text=11&mobile-payment-type=on&button-size=l&button-color=orange&successURL=https%3A%2F%2Ft.me%2FTinkMonitorBot&quickpay=small&account=410011481072133&label={{ user.id }}"
    width="227" height="48" frameborder="0" allowtransparency="true" scrolling="no"></iframe>
</div>
</body>
</html>
